<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>User Form</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    <!--Stylesheet-->
    <style media="screen">
        .background {
            background-image: url(https://www.teahub.io/photos/full/6-61784_architecture.png);
            background-size: cover;
        }

        .container {

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%vw;
            max-width: 400px;
            height: 800px;
            margin: auto;
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 20px;
            position: absolute;
            border-radius: 15px;
            background: #1F1A30;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
        }

        .header {
            color: white;
            font-size: 30px;
            text-align: center;
            font-family: century gothic;
        }

        .name {
            margin-top: 40px;
        }


        .firstname,
        .lastname,
        .middlename,
        .homeaddress,
        .city,
        .region,
        .gender,
        .birthdate,
        .hobby,
        .status,
        .country,
        .zipcode,
        .userhobby {
            margin-top: 15px;
        }

        ::placeholder {
            color: white;
        }


        .textbox:focus {
            outline-width: 0px;
        }

        .textbox,
        .form-select{

            width: 90%;
            height: 35px;
            padding: 5px;
            padding-left: 20px;
            color: white;
            font-size: 15px;
            font-family: century gothic;
            border: none;
            border-radius: 25px;
            background: #39304D;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
        }

        .myhobby{
            width: 90%;
            height: 80px;
            padding: 5px;
            padding-left: 20px;
            color: white;
            font-size: 15px;
            font-family: century gothic;
            border: none;
            border-radius: 25px;
            background: #39304D;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
        }

       
        

        .options {
            margin-top: 25px;
            font-size: 12px;
            font-family: century gothic;
        }

        .requirement {
            margin-top: 25px;
            font-size: 12px;
            font-family: century gothic;
            color: white;
        }

        .read {
            color: white;
        }

        .terms {
            color: #0DF6E3;
            cursor: pointer;
        }

        .createAccount:hover {
            cursor: pointer;
            color: white;
            background-color: #03564F
        }

        .submitbtn {
            width: 200px;
            height: 45px;
            margin-top: 25px;
            font-size: 15px;
            font-family: century gothic;
            color: black;
            border: none;
            border-radius: 25px;
            background-color: #0DF6E3;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
        }

        .account {
            margin-top: 25px;
            color: white;
            font-size: 14px;
            font-family: century gothic;
        }

        .signUp {
            color: #0DF6E3;
            cursor: pointer;
        }
    </style>
</head>

<body class="background">
    <div class="login-container">
        <form action="/form" method="POST" class="form-login">

            <div class="container">
                <h2 class="header">Form</h2>


                <div class="name" align="center">


                    <div class="firstname" align="center">
                        <input type="text" id="firstName" name="firstname" required class="textbox"
                            placeholder="First Name" pattern="[A-Za-z]+">
                    </div>

                    <div class="lastname">
                        <input type="text" id="lastName" name="lastname" required class="textbox"
                            placeholder="Last Name" pattern="[A-Za-z]+">
                    </div>

                    <div class="middlename">
                        <input type="text" id="middleName" name="middlename" class="textbox" placeholder="Middle Name"
                            pattern="[A-Za-z]+">
                    </div>

                    <div class="homeaddress">
                        <input type="text" id="homeAddress" name="homeaddress" required class="textbox"
                            placeholder="Home Address">
                    </div>





                    <div class="country">

                        <select class="form-select countries" id="countryId" name="country" required>
                            <option selected disabled value="">Select Country</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Country.
                        </div>
                    </div>

                    <div class="region">

                        <select class="form-select states" id="stateId" name="state" required>
                            <option selected disabled value="">Select State</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Region.
                        </div>
                    </div>

                    <div class="city">

                        <select class="form-select cities" id="cityId" name="city" required>
                            <option selected disabled value="">Select City</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid City.
                        </div>
                    </div>

                    <div class="zipcode">

                        <input type="number" min="1000" max="9999" maxlength="4" id="zip" name="zip" required
                            class="textbox" placeholder="Zip Code">

                    </div>

                    <div class="gender">
                        <select id="gender" name="gender" required class="textbox">
                            <option disabled selected value class="dropdowntxt">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="birthdate">

                        <input placeholder="Type Date" type="text" onfocus="(this.type = 'date')" id="birthdate"
                            class="textbox" required name="birthdate">
                    </div>

                    
                   


                    <div class="status">

                        <select id="status" name="status" required class="textbox">
                            <option disabled selected value>Civil Status</option>
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="widowed">Widowed</option>
                            <option value="divorced">Divorced</option>
                        </select>
                    </div>


                    
                        
                        
                        
                       
                        
                        <div class="userhobby">
                            <div class="myhobby">
                            <span class="hobby-title">Hobby</span>
                            <br>
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="hobby">Music</span>
                                <input type="checkbox" name="hobby" id="dot-1" value="Music">
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="hobby">Reading</span>
                                <input type="checkbox" name="hobby" id="dot-2" value="Reading">
                            </label>
                            <label for="dot-3">
                                <span class="dot three"></span>
                                <span class="hobby">Others</span>
                                <input type="checkbox" name="hobby" id="dot-3" value="Others">
                            </label>
                        </div>
                        </div>
                    
                    <div>
                        <button type="submit" class="submitbtn">Submit</button>
                    </div>




        </form>
    </div>

    <script>

    </script>


</body>

</html>